/* layout */
//
.container {
  max-width: 540px;
  padding-left: $spacer-2;
  padding-right: $spacer-2;
  margin-left:  auto;
  margin-right: auto;
}

.main-header,
.main-footer {
  margin-top: $spacer-2;
  margin-bottom: $spacer-2;
}

.main-header {
  padding-bottom: $spacer;
  border-bottom: 1px solid $border-color;
}

.main-footer {
  padding-top: $spacer;
  border-top: 1px solid $border-color;
}
